
@media screen and (min-width: 768px) {
.featured-artworks-title {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1192px;
    width: 100%;
}


.artwork-show-container {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1192px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    flex: 0 0 33.33%;
}


.artwork-index-container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 5px;
    align-items: left;
    justify-items: center;

}

.artist-show-subheader {
    position: relative;
    color: black;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    display: flex;
    margin-left: 0px;
}

.artwork-show-text {
    font-family: "Helvetica Neue", sans-serif;
    text-decoration: none;

}

.artwork-index-text {
    font-size: 12px;
    font-family: "Helvetica Neue", sans-serif;
    color: gray;
    text-decoration: none;
}

.artwork-index-item {
    width: 300px;
    margin: 0px;
}

.artwork-show-item {
    width: 500px;
    margin-left: 100px;
    align-items: center;
    // height: 60vh;
}

.box-under-artwork-show {
    // display: flex;
    margin-top: 80px;
    margin-left: 400px;
    width: 500px;
    height: 200px;
    border: 1px solid lightgray;
    font-family: "Helvetica-Neue", sans-serif;
    // text-align: center;

}

.category-artwork-show,
.condition-artwork-show {
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    align-items: left;
    margin-left: 10px;
}

.title-above-artwork-show-box {
    font-weight: bold;
    font-family: "Helvetica-Neue", sans-serif;
    border-bottom: 1px solid lightgray;
    align-items: center;
    margin-top: 60px;
    margin-left: 400px;
    margin-right: 200px;
}

.individual-artwork-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 0px;
    align-items: left;
    text-decoration: none;
    margin: 0px;
}
}

.artwork-link-to-show {
    color: black;
    text-decoration: none;
}

.follow-button {
    text-decoration: none;
    font-size: 16px;
    font-family: "Helvetica Neue", sans-serif;
    background: none;
    border: none;
}

.follow-button:hover {
    color: rgb(110, 30, 255);
}

.like-button {
    text-decoration: none;
    font-size: 16px;
    font-family: "Helvetica Neue", sans-serif;
    background: none;
    border: none;
}

.like-button:hover {
    color: rgb(110, 30, 255);
}


.artwork-show-subheader {
    font-size: 24px;
    font-family: "Helvetica Neue", sans-serif; 
    text-decoration: underline;
}

