.featured-artworks-title {
    margin-top: 150px;
    margin-left: 100px;
}

.artwork-show-container {
    margin-left: 100px;
    margin-top: 120px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);

}

.artwork-index-container {
    margin-left: 100px;
    margin-top: 100px;
    margin-right: 100px;
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
//   grid-auto-rows: minmax(80px, auto);

}

.artist-show-subheader {
    color: black;
    // position: relative;
    // margin-top: 50px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    display:flex;
    // max-width: 1200px;
    // display: grid;
    // grid-gap: 1rem;

}

.artwork-show-text {
    margin-left: 30px;
    font-family: "Helvetica Neue", sans-serif;
    text-decoration: none;

}

.artwork-index-text {
    font-family: "Helvetica Neue", sans-serif;
    text-decoration: none;
}

.artwork-index-item {
    width: 300px;
}

.artwork-show-item {
    width: 500px;
    margin-left: 300px;
}

.box-under-artwork-show {
    display: flex;
    margin-top: 80px;
    margin-left: 400px;
    width: 300px;
    height: 200px;
    border: 1px solid lightgray;
    font-family: "Helvetica-Neue", sans-serif

}

.title-above-artwork-show-box {
    font-weight: bold;
    font-family: "Helvetica-Neue", sans-serif;
    border-bottom: 1px solid lightgray;
    align-items: center;
    margin-top: 60px;
    margin-left: 400px;
    margin-right: 200px;
}