.hero-container {
  position: relative;
}
.hero {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
  text-align: left;
  // position: relative;
  // right: 80%;
  transform: translate(-50%, 0%);
  box-sizing: border-box;
  height: 100%;
  position: absolute;
  top: 130px;
  right: -400px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;

}

.banner-image {
  display: flex;
  width: 100vw;
  // height: auto;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: baseline;
}

.titles {
  position: relative;
  align-items: center;
}

h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 40px;
  font-weight: 380;
}

h5 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.banner-signup {
  position: absolute;
  top: 130px;
  left: 0px;
    cursor: pointer;
    align-items:center;
    // position: relative;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    height: 41px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin-bottom: 100px;
}


