.hero-container {
  position: relative;
}
.hero {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
  text-align: left;
  // position: relative;
  // right: 80%;
  transform: translate(-50%, 0%);
  box-sizing: border-box;
  height: 100%;
  position: absolute;
  top: 130px;
  right: -400px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;

}

.banner-image {
  display: flex;
  width: 100vw;
  // height: auto;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: baseline;
}

.titles {
  position: relative;
  align-items: center;
}

h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 40px;
  font-weight: 380;
}

h5 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.banner-signup {
  position: absolute;
  top: 130px;
  left: 0px;
    cursor: pointer;
    align-items:center;
    // position: relative;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    height: 41px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin-bottom: 100px;
}

element.style {
    position: absolute;
    left: 0%;
}
.abrv-carousel .mgr-cell {
    min-width: 140px;
}
.abrv-context.abrv-fillwidth-row {
    width: 200px;
    border-right: 1px solid #e5e5e5;
    margin: 0 30px 20px 0;
    padding-right: 30px;
    height: 270px;
    white-space: normal;
}


.title-popular-artists {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  max-width: 1200px;
  margin: 0 auto;
  // margin-bottom: 10px auto;
}

.artist-names-ul {
  font-family: "Helvetica Neue", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.popular-artist-names {
  font-family: "Helvetica Neue", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.title-artists-to-follow {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  max-width: 1200px;
  margin: 0 auto;
  // margin-bottom: 10px auto;
}

.artists-to-follow-names {
  font-family: "Helvetica Neue", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.title-featured-galleries {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.featured-galleries-names {
  font-family: "Helvetica Neue", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}